[common]
socket_path = /tmp/endobot.sock
pid_dir = /var/run/endobot
log_path = /logs/daemon_log
# DEBUG, INFO, WARN, ERROR
# choosing DEBUG will pring all
# choosing WARN will print only WARN and ERROR
# default is INFO
log_level = INFO

[user-mappings]
node_part_of_jid = resource_part_of_channel
# for jid: gallus_anonymus@example.com and nick on channel: anonymous
gallus_anonymus = anonymous

[endoreportbot]
jid = reportbot@example.com
password = 1234
channel = main_room@conference.example.com/reportbot
file = /logs/reports.txt
users = foo,bar,baz

[endochilibot]
jid = chilibot@example.com
password = 4321
channel = main_room@conference.example/com/chilibot
feed = https://www.example.com/chili/activities.atom
key = 0123456789abcdef0123456789abcdef01234567
